<div class="container">

<fieldset>
<legend>Sign up</legend>
<form id="userpreferencesform" name="userpreferencesform" novalidate>

<div class="form-group">
<label for="firstname">First name:</label>
<input type="text" name="firstname" placeholder="Enter your first name"
  ng-model="signupCtrl.user.firstname"
  required
>
<span
  ng-if="userpreferencesform.firstname.$error.required && userpreferencesform.firstname.$touched">
  First name is required
</span>
</div>

<div class="form-group">
<label for="lastname">Last name:</label>
<input type="text" name="lastname" placeholder="Enter your last name"
  ng-model="signupCtrl.user.lastname"
  required
>
<span
  ng-if="userpreferencesform.lastname.$error.required && userpreferencesform.lastname.$touched">
  Last name is required
</span>
</div>

<div class="form-group">
<label for="email">Email:</label>
<input type="email" name="email" placeholder="Enter your email"
  ng-model="signupCtrl.user.email"
  required
>
<span
  ng-if="userpreferencesform.email.$invalid && userpreferencesform.email.$touched">
  Must be a valid email address: handle@domain format
</span>
</div>

<div class="form-group">
<label for="phone">Phone number:</label>
<input type="text" name="phone" placeholder="###-###-####"
  ng-model="signupCtrl.user.phone"
  pattern="(\d{3})-(\d{3})-(\d{4})"
  required
>
<span ng-if="(userpreferencesform.phone.$invalid || userpreferencesform.phone.$error.required) && userpreferencesform.phone.$touched">
  Phone must be in the format ###-###-####.
</span>
</div>

<div class="form-group">
<label for="menu_number">Menu number:</label>
<input type="text" name="menu_number" placeholder="Enter the number of your favourite dish"
  ng-model="signupCtrl.user.menu_number"
  required
>
<span
  ng-if="userpreferencesform.menu_number.$error.required && userpreferencesform.menu_number.$touched">
  Menu number is required
</span>
</div>

<div class="form-group">
<button
  class="submit"
  ng-disabled="userpreferencesform.$invalid"
  ng-click="signupCtrl.submit()">Submit</button>
</div>

</form>
</fieldset>

<div class="container bg-primary" ng-if="signupCtrl.submitted === true">
Your information has been saved
</div>

</div>
